<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="list-check" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3.854 2.146a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 3.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 7.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
    </symbol>
</svg>

<div class="modal fade" id="download-modal" tabindex="-1" aria-labelledby="DownloadModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content text-white bg-dark">
        <div class="modal-header">
          <span class="modal-title" id="DownloadModalLabel">Choose FIle</span>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body mb-3">
          {{ modal_messages() }}
          <div class="d-flex gap-5 justify-content-center" >
            <div class="list-group mx-0">
                {% for file in items %}
                    <label class="list-group-item d-flex gap-2">
                        <input class="form-check-input flex-shrink-0" type="checkbox" value="{{ name, id }}" >
                        <span>
                            {{ file["name"] }}
                            <small class="d-block text-muted">id:{{ file["id"] }}</small>
                        </span>
                    </label>
                {% endfor %}
                <button class="btn btn-primary shadow"> Submit</button>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>