{% extends 'base.html' %}
<!--{% from '_macro.html' import input %} --->

{% block page_content %}
  <main class="px-3">
    <h1>Welcome to fCRYPT</h1>
    <p class="lead">Securely upload your files to google drive with a strong encryption algorithm</p>
    <p class="lead">
      <button type="button" class="btn btn-lg btn-primary fw-bold border-white bg-dark shadow" data-bs-toggle="modal"
       data-bs-target="#load-modal">Upload file</button>
    </p>
    <div class="text-body">
     {% include 'load.html' %}
    </div>
  </main>
{% endblock %}
