<div class="modal fade" id="load-modal" tabindex="-1" aria-labelledby="loadModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content text-white bg-dark">
        <div class="modal-header">
          <h5 class="modal-title" id="loadModalLabel">Select file</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body mb-3">
          {{ modal_messages() }}
          <form method="POST" enctype="multipart/form-data"> 
            {{ form.hidden_tag() }}
            {{ form.file(id="fileToupload", class="form-control" )}}<br>
            {{ form.submit(class_='btn btn-primary shadow') }}
          </form>
        </div>
      </div>
    </div>
  </div>